<form [formGroup]="form" (ngSubmit)="addCategory()">
  <div>
    <div class="submit-form">
      <div class="form-group">
        <label for="id_cat">Category ID</label>
        <input type="text" class="form-control" id="id_cat" formControlName="id_cat"
          [ngClass]="{ 'is-invalid': f['id_cat'].invalid && !firstSubmit}" name="id_cat" required />
        <div *ngIf="f['id_cat'].value.length == 0 && !firstSubmit" style="color: red;">
          <div>Category ID is required</div>
        </div><br>

        <label for="cat_name">Category name</label>
        <input type="text" class="form-control" id="cat_name" formControlName="cat_name"
          [ngClass]="{ 'is-invalid': f['cat_name'].invalid && !firstSubmit}" name="cat_name" required />
      </div>
      <div *ngIf="f['cat_name'].value.length == 0 && !firstSubmit" style="color: red;">
        <div>Category name is required</div>
      </div><br>

      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>
</form>